* {
	box-sizing: border-box;
}

.contenedor {
	position: relative;
	width: 1440px;
	height: auto;
	margin: 0 auto;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	background: #F3F5FC;
}

.logo {
	height: auto;
	margin: 40px 0 40px 84px;
	padding: 0px;
}

.img_logo {
	width: 120px;
}

.principal {
	height: auto;
	margin: 0 40px 20px 240px;
	display: flex;
	flex-direction: row;
	gap: 80px;
}

.entrada_encriptador {
	width: 680px;
}

.txt_entrada {
	width: 680px;
	height: 600px;
	margin: 40px 0;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	color: #0A3871;
	background: none;
	border: none;
	resize: none;
	overflow: hidden;
}
.txt_entrada::placeholder {
	color: #0A3871;
}

.txt_entrada:focus {
	outline: none;
}

.msj_alerta {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	margin-bottom: 16px;

}

.icono_alerta {
	width: 16px;

}

.txt_alerta {
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: #495057;
	opacity: 0.8;
}

.botones_encriptador {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 24px;
	width: 680px;
	height: 67px;
	margin-bottom: 32px;
}

.btn_encriptar, .btn_desencriptar{
	width: 328px;
	height: 67px;
	border: 1px solid #0A3871;
	border-radius: 24px;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
}

.btn_encriptar {
	background: #0A3871;
	color: #FFFFFF;
}

.btn_desencriptar {
	background: #D8DFE8;
	color: #0A3871;
}

.salida_encriptador {
	width: 400px;
	background: #FFFFFF;
	/* shadow */
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	border-radius: 32px;
}

.munheco {
	width: 336px;
	margin: 140px 32px 32px 32px;
}

.contenedor_txt_sin_salida {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	width: 336px;
	margin: 0 32px;
}

.titulo_sin_salida {
	width: 336px;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	text-align: center;
	color: #343A40;
}

.txt_sin_salida {
	width: 336px;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	color: #495057;
}

.contenedor_salida {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 336px;
	height: 90%;
	margin: 32px;
	gap: 32px;
}

.txt_salida {
	width: 336px;
	height: auto;
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	color: #495057;
}

.btn_copiar_salida {	
	padding: 24px;
	width: 336px;
	height: 67px;
	left: 32px;
	border: 1px solid #0A3871;
	border-radius: 24px;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #0A3871;
}

.pie_de_pag {
	height: 40px;
	text-align: center;
	color: #495057;
	font-size: 10px;
}

.invisible {
	display: none;
}